In [1]:
import pandas as pd
import requests
import json

In [27]:
r = requests.get('https://us-central1-safe-21981.cloudfunctions.net/events')
body_json = r.json()

points = body_json['points']

In [45]:
points_list = []

for p in points:
    p_flat = []
    p_flat.append(
        p['location']['_latitude']
    )
    p_flat.append(
        p['location']['_longitude']
    )
    p_flat.append(
        p['time']['_seconds']
    )
    points_list.append(p_flat)

In [46]:
df = pd.DataFrame(points_list)
df.columns = ['Lat', "Lng", 'Time']
df.sort_values('Time')
df = df.reset_index(drop=True)
df

                   Lat                  Lng        Time
0              39.3605             -75.6501  1567869067
1              40.0692             -75.3265  1567862790
2     39.0333298715346    -97.2018235978299  1567871083
3    40.56381589653963   -96.51839607987547  1567871085
4    39.92001318668529    -75.1693918979688  1567871168
..                 ...                  ...         ...
84   39.95250727676281    -75.1906208482904  1567868370
85   39.92724343780238   -75.16746225713345  1567871165
86  37.423090875728704    -122.074047479972  1567866277
87  38.724323398145245  -108.29382385694399  1567871079
88  40.474887655613806  -110.45925333001198  1567871078

[89 rows x 3 columns]